@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: 100 60% 4%;
        --background: 105 57% 97%;
        --primary: 103 59% 50%;
        --secondary: 270 59% 73%;
        --accent: 329 59% 65%;

        @media (prefers-color-scheme: dark) {
            --text: 100 60% 96%;
            --background: 107 60% 3%;
            --primary: 103 59% 50%;
            --secondary: 270 59% 27%;
            --accent: 329 59% 35%;
        }
    }
}

html {
    color-scheme: light dark;
    scroll-behavior: auto;
}
body {
    font-family: "quicksand", sans-serif;
}
@media (min-width: 768px) {
    /* Adjust breakpoint as needed */
    html {
        scroll-behavior: smooth;
    }
}
@media screen and (max-width: 950px) {
    .main-content {
        display: none;
    }
    .mobile-content {
        display: block;
    }
}
.text-2xs {
    font-size: 0.6rem; /* 10px */
    line-height: 0.9rem; /* 14px */
}
.text-3xs {
    font-size: 0.5rem; /* 8px */
    line-height: 0.6rem; /* 10px */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.cell-2xs {
    @apply text-2xs w-3.5 h-3.5;
}
.cell-xs {
    @apply w-4 h-4 text-xs;
}
.cell-sm {
    @apply w-5 h-5 text-sm;
}
.cell-base {
    @apply w-6 h-6 text-base;
}
.cell-lg {
    @apply text-lg w-7 h-7;
}
.cell-xl {
    @apply text-xl w-7 h-7;
}
.cell-2xl {
    @apply text-2xl w-7 h-7;
}
